{% extends 'base.html' %}
{% load humanize %}

{% block meta %}
<title>Edit Minuman | Rasa Palembang</title>
{% endblock meta %}

{% block content %}
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto">
    <h2 class="text-xl font-semibold">Edit Minuman</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-2 sm:gap-x-4 w-full">
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="nama">Nama</label>
                <input type="text" name="nama" maxlength="255" required="" id="nama" placeholder="Masukkan nama minuman"
                    value="{{ minuman.nama }}"
                    class="w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="harga">Harga</label>
                <input type="number" name="harga" required="" id="harga" placeholder="Masukkan harga minuman"
                    value="{{ minuman.harga }}"
                    class="w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
            </div>
        </div>
        <div class="mt-4">
            <label class="text-sm pl-3" for="deskripsi">Deskripsi</label>
            <textarea name="deskripsi" required="" id="deskripsi" placeholder="Masukkan deskripsi minuman"
                class="w-full resize-none h-36 mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">{{ minuman.deskripsi }}</textarea>
        </div>
        <div class="grid grid-cols-2 sm:gap-x-4 w-full">
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="tingkat_kemanisan">Tingkat Kemanisan</label>
                <input type="number" name="tingkat_kemanisan" required="" id="tingkat_kemanisan"
                    placeholder="Masukkan tingkat kemanisan minuman" value="{{ minuman.tingkat_kemanisan }}"
                    class="w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="gambar">Gambar</label>
                <div class="mt-2 flex items-center">
                    <label for="gambar"
                        class="w-full overflow-hidden relative cursor-pointer bg-gray-100 rounded font-medium text-[#4f9da6] hover:text-[#3b747a] px-4 py-3.5 text-center focus-visible:outline-[#4f9da6]">
                        <span id="gambar-file">{{ minuman.gambar }}</span>
                        <input id="gambar" name="gambar" type="file" class="sr-only">
                    </label>
                </div>
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="ukuran">Ukuran</label>
                <select name="ukuran" required="" id="ukuran"
                    class="w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                    <option value="">Pilih ukuran</option>
                    <option value="KECIL" {% if minuman.ukuran == "KECIL" %} selected {% endif %}>Kecil</option>
                    <option value="SEDANG" {% if minuman.ukuran == "SEDANG" %} selected {% endif %}>Sedang</option>
                    <option value="BESAR" {% if minuman.ukuran == "BESAR" %} selected {% endif %}>Besar</option>
                </select>
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="restoran">Restoran</label>
                <select name="restoran" required="" id="restoran"
                    class="w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                    <option value="">Pilih restoran</option>
                    {% if restoran %}
                    {% for item in restoran %}
                    <option value="{{ item.id }}" {% if item.id == minuman.restoran.id %} selected {% endif %}>
                        {{ item.nama }}
                    </option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="flex items-center">
            <div class="w-full">
                <button
                    class="mt-8 shadow hover:shadow-lg bg-[#4f9da6] hover:bg-[#3b747a] transition focus:shadow-outline focus:bg-[#3b747a] focus:outline-none text-white font-semibold py-2 px-4 rounded"
                    type="submit">
                    Simpan
                </button>
            </div>
            <div class="mt-8 whitespace-nowrap text-sm font-medium">
                <a href="{% url 'minuman:delete_minuman' minuman.id %}"
                    class="text-[#d04848] hover:underline cursor-pointer">Hapus minuman</a>
            </div>
        </div>
    </form>
</main>
<script>
    var gambarUpload = document.getElementById('gambar');
    var gambarFile = document.getElementById('gambar-file');
    gambarUpload.addEventListener('change', function () {
        gambarFile.innerText = gambarUpload.files[0].name;
    });

    var inputHarga = document.getElementById('harga');
    inputHarga.value = inputHarga.valueAsNumber;
</script>
{% endblock content %}