{% load humanize %}
<div class="py-2">
    <a href="{% url 'makanan:detail_makanan' makanan.id %}" class="hover:brightness-110 transition duration-300 focus-visible:outline-[#4f9da6]">
        <div class="relative">
            <img src="{{ makanan.gambar.url }}" alt="{{ makanan.nama }}"
                class="w-full h-36 md:h-64 object-cover rounded-lg">
            <a href="{% url 'favorit:add_to_favorites' 'makanan' makanan.id %}"
                class="absolute top-2.5 right-2.5 flex place-items-center transition text-white bg-[#4f9da6] hover:bg-[#3b747a] p-2.5 rounded-full focus-visible:outline-none focus-visible:bg-[#3b747a] focus:text-white">
                <i class="fa-regular fa-heart"></i>
            </a>
        </div>
        <div class="mt-2.5 flex flex-col gap-1">
            <h1 class="md:text-lg font-semibold">{{ makanan.nama }}</h1>
            <div>
                <h2 class="max-md:text-sm flex items-center gap-2">
                    <i
                        class="fa-solid fa-dollar-sign text-sm max-md:scale-90 w-4 flex justify-center text-neutral-500"></i>
                    Rp{{ makanan.harga|floatformat:0|intcomma }}
                </h2>
                <h3 class="max-md:text-sm flex items-start gap-2">
                    <i
                        class="fa-solid fa-utensils text-sm max-md:scale-90 mt-1 w-4 flex justify-center text-neutral-500"></i>
                    <a href="{% url 'restoran:detail_restoran' makanan.restoran.id %}" class="hover:underline focus-visible:outline-[#4f9da6]">
                        {{ makanan.restoran }}
                    </a>
                </h3>
            </div>
        </div>
    </a>
</div>