{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Restoran | RasaPalembang</title>
{% endblock %}

{% block content %}
<div class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto min-h-screen">
    <div class="mb-5 flex gap-2 justify-between">
        <select id="sortSelect"
            class="flex-shrink-0 px-4 py-2 rounded-md text-sm font-semibold bg-neutral-200/80 hover:bg-neutral-300/80 text-gray-600 focus-visible:outline-[#4f9da6]">
            <option value="default">Urutkan Berdasarkan</option>
            <option value="rating_asc">Rating Terendah</option>
            <option value="rating_desc">Rating Tertinggi</option>
            <option value="harga_asc">Harga Terendah</option>
            <option value="harga_desc">Harga Tertinggi</option>
        </select>
        {% if request.user.is_authenticated and request.user.peran == "pemilik_restoran" %}
        <a href="{% url 'restoran:tambah_restoran' %}"
            class="flex-shrink-0 text-sm font-semibold justify-center items-center px-4 py-2 bg-[#4f9da6] hover:bg-[#3b747a] text-white font-semibold rounded-lg shadow-md transition duration-300 focus-visible:outline-none focus-visible:bg-[#3b747a]">
            <i class="fa-solid fa-plus mr-1.5"></i>
            <span>Tambah Restoran</span>
        </a>
        {% endif %}
    </div>

    <div id="restoran-list">
        {% include "restoran/show/restoran_list.html" with restoran_data=restoran_data %}
    </div>
    
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('sortSelect').addEventListener('change', function () {
        const sortOption = this.value;
        let sort = "default";
        let order = "asc";

        if (sortOption == "rating_asc") {
            sort = "rating";
            order = "asc";
        } else if (sortOption == "rating_desc") {
            sort = "rating";
            order = "desc";
        } else if (sortOption == "harga_asc") {
            sort = "harga";
            order = "asc";
        } else if (sortOption == "harga_desc") {
            sort = "harga";
            order = "desc";
        }

        fetchSortedData(sort, order);
    });

    function fetchSortedData(sort, order) {
        fetch(`/restoran/sort/?sort=${sort}&order=${order}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById("restoran-list").innerHTML = data.restoran_list_html;
            })
            .catch(error => console.error("Error:", error));
    }
</script>
{% endblock %}
