{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Daftar Akun RasaPalembang | RasaPalembang</title>
</head>

<body class="text-neutral-700">
    <main class="max-md:px-5 md:h-screen flex justify-center md:justify-between items-center max-md:pt-6">
        <div class="md:h-screen overflow-auto md:px-24 py-8 md:py-12 max-md:w-full max-md:max-w-96">
            <div class="w-min max-md:mx-auto">
                <a href="/" class="focus-visible:outline-[#4f9da6]">
                    <img src="{% static 'images/logo.png' %}" alt="RasaPalembang" class="max-w-64 -translate-x-1">
                </a>
            </div>
            <h2 class="text-xl font-semibold mt-10">Daftar sekarang untuk mengakses berbagai fitur eksklusif</h2>
            <form method="POST" class="mt-6">
                {% csrf_token %}
                <div class="mt-4">
                    <label class="text-sm pl-2">
                        Nama Lengkap
                    </label>
                    <input type="text" name="nama" maxlength="255" required="" id="id_nama"
                        placeholder="Masukkan nama lengkap Anda"
                        class="mt-2 bg-gray-100 rounded-lg px-4 py-3.5 w-full md:min-w-[420px] placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                </div>
                <div class="mt-4">
                    <label class="text-sm pl-2">
                        Username
                    </label>
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                        autofocus="" required="" id="id_username" placeholder="Buat username unik Anda"
                        class="mt-2 bg-gray-100 rounded-lg px-4 py-3.5 w-full md:min-w-[420px] placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                </div>
                <div class="mt-4">
                    <label class="text-sm pl-2">
                        Kata Sandi
                    </label>
                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"
                        placeholder="Masukkan kata sandi Anda"
                        class="mt-2 bg-gray-100 rounded-lg px-4 py-3.5 w-full md:min-w-[420px] placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                </div>
                <div class="mt-4">
                    <label class="text-sm pl-2">
                        Konfirmasi Kata Sandi
                    </label>
                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"
                        placeholder="Konfirmasi kata sandi Anda"
                        class="mt-2 bg-gray-100 rounded-lg px-4 py-3.5 w-full md:min-w-[420px] placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                </div>
                <div class="mt-4">
                    <label class="text-sm pl-2">
                        Peran
                    </label>
                    <select name="peran" required="" id="id_peran"
                        class="mt-2 bg-gray-100 rounded-lg px-4 py-3.5 w-full md:min-w-[420px] placeholder:text-[#808080] focus-visible:outline-[#4f9da6]">
                        <option value="" selected="">---------</option>
                        <option value="pengulas">Pengulas</option>
                        <option value="pemilik_restoran">Pemilik Restoran</option>
                    </select>
                </div>
                <button
                    class="mt-8 shadow hover:shadow bg-[#4f9da6] hover:bg-[#3b747a] transition focus:shadow-outline focus:bg-[#3b747a] focus:outline-none text-white font-semibold py-2 w-full rounded-lg"
                    type="submit">
                    Daftar
                </button>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-gray-500 text-center mt-2">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            <h3 class="text-center mt-4">
                Sudah memiliki akun?
                <a href="{% url 'login' %}" class="text-[#ff5757] font-semibold focus-visible:outline-[#4f9da6]">Masuk</a>
            </h3>
        </div>
        <div class="max-md:hidden h-screen">
            <img src="{% static 'images/ampera.jpg' %}" alt="Ampera" class="h-screen object-cover">
        </div>
    </main>
</body>

</html>