{% extends 'base.html' %}

{% block content %}
<main class="px-5 md:px-10 lg:px-16 xl:px-24 py-5 md:py-10 w-full mx-auto">
    <div class="mt-8">
        <div class="flex">
            <h1 class="w-full font-bold text-3xl text-[#ff5757]">{{ minuman.nama }}</h1>
            <button class="flex place-items-center border border-[#4f9da6] text-[#4f9da6] hover:bg-[#4f9da6] hover:text-white py-2 px-[9px] sm:px-4 rounded-full focus:outline-none focus:bg-[#4f9da6] focus:text-white">
                <i class="fa-regular fa-heart"></i><span class="ml-2 hidden sm:inline">Favorit</span>
            </button>
        </div>
        <div class="mt-4">
            <img src="{{ minuman.gambar.url }}" alt="{{ minuman.nama }}">
        </div>
    </div>
    <div class="max-w-md mt-8">
        <div class="p-4 overflow-hidden rounded-md shadow">
            <div>
                <h2>Rincian</h2>
            </div>
            <div>
                <p>Nama</p>
                <p>{{ minuman.nama }}</p>
            </div>
            <div>
                <p>Harga</p>
                <p>Rp.{{ minuman.harga }}</p>
            </div>
            <div>
                <p>Ukuran</p>
                <p>{{ minuman.ukuran }}</p>
            </div>
            <div>
                <p>Tingkat Kemanisan</p>
                <p>{{ minuman.tingkat_kemanisan }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}