{% extends 'base.html' %}

{% block title %}
Detail Restoran - {{ restoran.nama }}
{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col mt-12"> 
    <!-- Konten Restoran -->
    <div class="container mx-auto py-8 flex-grow">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold mb-4">{{ restoran.nama }}</h1>
        </div>

        <!-- Detail Restoran -->
        <div class="mx-auto max-w-4xl px-4">
            <h2 class="text-2xl font-semibold mb-4">Tentang</h2>
            <div class="space-y-4 text-lg">
                <p class="flex items-center">
                    <i class="fas fa-clock mr-2"></i>
                    Jam Operasional: {{ restoran.jam_operasional }}
                </p>
                <p class="flex items-center">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    Lokasi: {{ restoran.alamat }}
                </p>
                <p class="flex items-center">
                    <i class="fas fa-phone mr-2"></i>
                    Nomor Telepon: {{ restoran.nomor_telepon }}
                </p>
                <p class="flex items-center">
                    <i class="fas fa-dollar-sign mr-2"></i>
                    Harga Rata-Rata: {{ restoran.harga_rata_rata }}
                </p>
            </div>
        </div>
    </div>

    <!-- Tombol Kembali di bagian bawah halaman -->
    <div class="container mx-auto pb-10 mt-10">
        <div class="flex justify-end">
            <a href="{% url 'restoran:restoran' %}" class="px-6 py-3 bg-[#4f9da6] hover:bg-[#3b747a] text-white font-semibold rounded-lg shadow-md transition duration-300">
                Kembali ke Daftar Restoran
            </a>
        </div>
    </div>
</div>
{% endblock %}
