{% load humanize %}
<div>
    <a href="{% url 'minuman:show_minuman_by_id' minuman.minuman.id %}"
        class="hover:brightness-110 transition duration-300">
        <img src="
            {% if 'raw.githubusercontent.com/D02-PBP-2024/mediafiles/' in minuman.minuman.gambar.url %}
            {{ minuman.gambar_url|cut:'/media/' }}
            {% else %}
            {{ minuman.minuman.gambar.url }}
            {% endif %}
            " alt="{{ minuman.minuman.nama }}" class="w-full h-36 md:h-64 object-cover rounded-lg">
        <div class="mt-2.5 flex flex-col gap-1">
            <h1 class="md:text-lg font-semibold">{{ minuman.minuman.nama }}</h1>
            <div>
                <h2 class="max-md:text-sm flex items-center gap-2">
                    <i
                        class="fa-solid fa-dollar-sign text-sm max-md:scale-90 w-4 flex justify-center text-neutral-500"></i>
                    Rp{{ minuman.minuman.harga|floatformat:0|intcomma }}
                </h2>
                <h3 class="max-md:text-sm flex items-start gap-2">
                    <i
                        class="fa-solid fa-utensils text-sm max-md:scale-90 mt-1 w-4 flex justify-center text-neutral-500"></i>
                    <a href="{% url 'restoran:detail' minuman.minuman.restoran.id %}" class="hover:underline">
                        {{ minuman.minuman.restoran }}
                    </a>
                </h3>
            </div>
        </div>
    </a>
</div>