{% load humanize %}
<div class="py-2">
    <a href="{% url 'minuman:detail_minuman' minuman.id %}" class="hover:brightness-110 transition duration-300">
        <img src="{{ minuman.gambar.url }}" alt="{{ minuman.nama }}"
            class="w-full h-36 md:h-64 object-cover rounded-lg">
        <div class="mt-2.5 flex flex-col gap-1">
            <h1 class="md:text-lg font-semibold">{{ minuman.nama }}</h1>
            <div>
                <h2 class="max-md:text-sm flex items-center gap-2">
                    <i
                        class="fa-solid fa-dollar-sign text-sm max-md:scale-90 w-4 flex justify-center text-neutral-500"></i>
                    Rp{{ minuman.harga|floatformat:0|intcomma }}
                </h2>
                <h3 class="max-md:text-sm flex items-start gap-2">
                    <i
                        class="fa-solid fa-utensils text-sm max-md:scale-90 mt-1 w-4 flex justify-center text-neutral-500"></i>
                    <a href="{% url 'restoran:detail_restoran' minuman.restoran.id %}" class="hover:underline">
                        {{ minuman.restoran }}
                    </a>
                </h3>
            </div>
        </a>
    </div>
    <div class="sm:basis-7/12 sm:ml-8">
        <div class="flex mt-4 sm:mt-0">
            <a href="{% url 'minuman:show_minuman_by_id' minuman.id %}" class="pointer w-full">
                <h1 class="font-bold text-3xl text-[#ff5757] hover:text-[#d04848]">{{ minuman.nama }}</h1>
            </a>
            <a href="{% url 'favorit:add_to_favorites' 'minuman' minuman.id %}"
               class="flex place-items-center border border-[#4f9da6] text-[#4f9da6] hover:bg-[#4f9da6] hover:text-white py-2 px-[9px] sm:px-4 rounded-full focus:outline-none focus:bg-[#4f9da6] focus:text-white">
                <i class="fa-regular fa-heart"></i>
                <span class="ml-2 hidden sm:inline">Favorit</span>
            </a>
         
        </div>
    </a>
</div>