{% extends 'base.html' %}

{% block content %}
<h1>Hapus Favorit</h1>

<p>Apakah Anda yakin ingin menghapus favorit berikut?</p>
<ul>
    <li>Makanan: {{ favorit.makanan }}</li>
    <li>Minuman: {{ favorit.minuman }}</li>
    <li>Restoran: {{ favorit.restoran }}</li>
    <li>Catatan: {{ favorit.catatan }}</li>
</ul>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Hapus</button>
</form>

<a href="{% url 'favorit:favorit' %}" class="btn btn-secondary">Batal</a>
{% endblock %}