{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block meta %}
<title>{{ restoran.nama }} | RasaPalembang</title>
{% endblock meta %}

{% block content %}
<div class="w-screen h-[456px] relative">
    {% if restoran.gambar %}
    <img src="{{ restoran.gambar.url }}" alt="{{ restoran.nama }}" class="w-full h-full object-cover brightness-90">
    {% else %}
    <img src="{% static 'images/no-image.jpg' %}" alt="No image" class="w-full h-full object-cover brightness-90">
    {% endif %}
    <div class="bg-gradient-to-t from-[#000000]/95 via-[#000000]/20 to-[#ffffff]/0 absolute top-0 left-0 w-full h-full">
        <div
            class="text-white h-full px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto flex flex-col gap-2 justify-end">
            <h1 class="text-4xl md:text-6xl text-white font-bold">{{ restoran.nama }}</h1>
            <div id="reviewSummaryContainer" class="flex items-center gap-3 md:gap-4 mt-5">
                <div id="ratingSummary" class="flex gap-1 md:gap-1.5 font-bold"></div>
                <span id="reviewSummary" class="font-semibold"></span>
            </div>
            <div class="text-neutral-100/90 mt-3 max-md:text-sm text-lg">
                <h2 class="font-semibold flex gap-2.5 items-center">
                    <i class="fas fa-map-marker-alt text-xs"></i>
                    <span>{{ restoran.alamat }}</span>
                </h2>
                <h2 class="font-semibold flex gap-2.5 items-center max-md:mt-2">
                    <i class="fas fa-phone text-xs"></i>
                    <span>{{ restoran.nomor_telepon }}</span>
                </h2>
            </div>
            <h3 class="text-lg font-semibold flex gap-3 md:gap-4 max-md:text-sm max-md:mt-2">
                <span class="{% if status == 'Buka' %}text-green-500{% else %}text-red-500{% endif %}">
                    {{ status }}
                </span>
                {{ restoran.jam_buka|date:"H:i" }} - {{ restoran.jam_tutup|date:"H:i" }}
            </h3>
        </div>
    </div>
</div>
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto">
    <div class="flex max-lg:flex-col gap-2 justify-between">
        <div class="w-full flex max-sm:flex-col gap-2">
            {% if mengulas %}
            <button id="reviewButton" data-modal-target="modal" data-modal-toggle="modal" onclick="showAddModal()"
                class="flex justify-center items-center gap-2 w-full w-full lg:w-fit px-4 sm:px-5 py-2 bg-[#eb4b4b] hover:bg-[#c93e3e] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition">
                <i class="fa-regular fa-star max-sm:scale-90"></i>
                Tuliskan Ulasan
            </button>
            {% endif %}
            <a href="{% url 'forum:show_forum' restoran.id %}"
                class="flex justify-center items-center gap-2 w-full w-full lg:w-fit px-4 sm:px-5 py-2 bg-[#4f9da6] hover:bg-[#3b747a] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition">
                <i class="fa-regular fa-comments max-sm:scale-90"></i>
                Diskusikan di Forum
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'favorit:add_to_favorites' 'restoran' restoran.id %}"
               class="flex justify-center items-center gap-2 w-full lg:w-fit px-4 sm:px-5 py-2 bg-[#4f9da6] 
                      hover:bg-[#3b747a] hover:shadow rounded-lg font-semibold text-white text-center 
                      max-sm:text-sm transition">
                <i class="fa-regular fa-heart max-sm:scale-90"></i>
                Simpan Favorit
            </a>
            {% endif %}
        </div>
        {% if request.user == restoran.user %}
        <div class="w-full flex max-sm:flex-col lg:justify-end gap-2">
            <a href="{% url 'restoran:ubah_restoran' restoran.id %}"
                class="flex justify-center items-center gap-2 w-full w-full lg:w-fit px-4 sm:px-5 py-2 bg-[#4f9da6] hover:bg-[#3b747a] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition">
                <i class="fa-regular fa-pen-to-square text-sm"></i>
                Ubah Restoran
            </a>
            <form method="POST" action="{% url 'restoran:hapus_restoran' restoran.id %}"
                class="flex justify-center items-center gap-2 w-full lg:w-fit px-4 sm:px-5 py-2 bg-[#eb4b4b] hover:bg-[#c93e3e] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition">
                {% csrf_token %}
                <button type="submit" class="flex justify-center items-center gap-2 w-full">
                    <i class="fa-regular fa-trash-can text-sm"></i>
                    Hapus Restoran
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="mt-10 flex flex-col lg:flex-row gap-10 lg:gap-5">
        <div class="basis-[64%]">
            <h1 class="text-2xl md:text-3xl font-bold">Menu</h1>
            {% if not makanan and not minuman %}
            <div
                class='mt-4 border border-neutral-100 shadow-lg shadow-neutral-200/40 rounded-xl px-3 sm:px-6 py-10 w-full flex max-md:flex-col justify-center items-center gap-4 md:gap-14'>
                <div>
                    <img src="{% static 'images/empty-minuman.png' %}" alt='Empty Review' class='max-w-24 md:max-w-32'>
                </div>
                <div>
                    <h1 class='text-center text-xl md:text-2xl font-bold'>Oops, Kosong Nih!</h1>
                    <h2 class='text-center max-md:text-sm max-md:mt-2'>
                        Belum ada makanan atau minuman. Cek lagi nanti, ya!
                    </h2>
                </div>
            </div>
            {% else %}
            <div
                class="p-2 sm:p-3 border border-neutral-100 shadow-lg shadow-neutral-100 rounded-xl w-full mt-4 grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-5 max-h-[420px] md:max-h-[520px] overflow-auto pr-2 md:pr-4">
                <!-- {% for item in makanan %}
                <div
                    class="border border-neutral-100 shadow-lg shadow-neutral-100 hover:shadow-neutral-200 rounded-xl transition">
                    <a href="{% url 'makanan:show_makanan_by_id' item.id %}">
                        <img src='{{ item.gambar.url }}' alt='{{ item.nama }}' class='rounded-lg w-full'>
                        <div class="p-3 md:p-4">
                            <h1 class="md:text-lg font-bold">{{ item.nama }}</h1>
                            <h1 class="text-neutral-500 max-md:text-sm font-semibold">Rp{{ item.harga|intcomma }}</h1>
                        </div>
                    </a>
                </div>
                {% endfor %} -->
                {% for item in minuman %}
                <div
                    class="border border-neutral-100 shadow-lg shadow-neutral-100 hover:shadow-neutral-200 rounded-xl transition">
                    <a href="{% url 'minuman:detail_minuman' item.id %}">
                        <img src='{{ item.gambar.url }}' alt='{{ item.nama }}'
                            class='rounded-lg w-full h-40 md:h-56 object-cover'>
                        <div class="p-3 md:p-4">
                            <h1 class="md:text-lg font-bold">{{ item.nama }}</h1>
                            <h1 class="text-neutral-500 max-md:text-sm font-semibold">Rp{{ item.harga|intcomma }}</h1>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="basis-[36%]">
            <h1 class="text-2xl md:text-3xl font-bold">Lokasi</h1>
            <div class="border border-neutral-100 shadow-lg shadow-neutral-100 rounded-xl p-5 w-full mt-4">
                <div id="map" class="w-full h-[300px] rounded-xl"></div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <h1 class="text-2xl md:text-3xl font-bold">Ulasan</h1>
        <div id="ulasan"></div>
    </div>
    {% include "restoran/detail/addReviewModal.html" %}
    {% include "restoran/detail/editReviewModal.html" %}
</main>
{% endblock %}
{% block script %}
<script>
    let map
    let geocoder
    let marker

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {
                lat: 0,
                lng: 0
            }
        })

        geocoder = new google.maps.Geocoder()
        marker = new google.maps.Marker({
            map: map,
            visible: false
        })

        geocodeAddress('{{ restoran.alamat }}')
    }

    function geocodeAddress(address) {
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location)
                marker.setPosition(results[0].geometry.location)
                marker.setVisible(true)
            } else {
                document.getElementById('map').innerHTML = `
                    <img src='{% static 'images/error-location.png' %}' alt='Alamat tidak ditemukan' style='width: 100% height: 300px object-fit: cover' />
                `
            }
        })
    }
</script>
<script async defer
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQFSriGuP328zatNVtei6c8vzno5rurIA&libraries=places&callback=initMap'></script>
<script>
    function setEditRating(rating) {
        const ratingInput = document.getElementById('id_nilai_edit')
        ratingInput.value = rating

        const ratingButtons = document.getElementsByClassName('ratingEditButton')

        for (let i = 0; i < ratingButtons.length; i++) {
            if (i < rating) {
                ratingButtons[i].classList.add('text-[#ffba00]')
                ratingButtons[i].classList.remove('text-neutral-300')
            } else {
                ratingButtons[i].classList.add('text-neutral-300')
                ratingButtons[i].classList.remove('text-[#ffba00]')
            }
        }
    }

    function setAddRating(rating) {
        const ratingInput = document.getElementById('id_nilai_add')
        ratingInput.value = rating

        const ratingButtons = document.getElementsByClassName('ratingAddButton')

        for (let i = 0; i < ratingButtons.length; i++) {
            if (i < rating) {
                ratingButtons[i].classList.add('text-[#ffba00]')
                ratingButtons[i].classList.remove('text-neutral-300')
            } else {
                ratingButtons[i].classList.add('text-neutral-300')
                ratingButtons[i].classList.remove('text-[#ffba00]')
            }
        }
    }

    async function getReviews() {
        return fetch('/restoran/{{ restoran.id }}/ulasan/').then((res) => res.json())
    }

    async function refreshReviews() {
        const reviews = await getReviews()
        const reviewSummaryContainer = document.getElementById('reviewSummaryContainer')
        const reviewSummary = document.getElementById('reviewSummary')
        const ratingSummary = document.getElementById('ratingSummary')

        if (reviews.length === 0) {
            reviewSummaryContainer.classList.add('hidden')
        } else {
            reviewSummaryContainer.classList.remove('hidden')

            const totalScore = reviews.reduce((sum, item) => sum + item.nilai, 0)
            const mean = totalScore / reviews.length

            reviewSummary.innerHTML = `${mean.toFixed(1)} (${reviews.length} ulasan)`

            const fullStars = Math.floor(mean)
            const ratingSummaryHtmlString = Array.from({
                length: 5
            }, (_, index) => {
                const starClass = index < fullStars ? 'bg-[#ffba00]' : 'bg-neutral-400'
                return `
            <div class='px-1.5 md:px-2 py-1 md:py-2 ${starClass} w-fit rounded-lg flex justify-center items-center'>
                <i class='fa-solid fa-star max-md:text-xs'></i>
            </div>
        `
            }).join('')

            ratingSummary.innerHTML = ratingSummaryHtmlString
        }

        document.getElementById('ulasan').innerHTML = ''
        document.getElementById('ulasan').className = ''
        let htmlString = ''
        let classNameString = ''

        if (reviews.length === 0) {
            classNameString = 'mt-4 flex justify-center items-center'
            htmlString = `
                <div class='border border-neutral-100 shadow-lg shadow-neutral-200/40 rounded-xl px-3 sm:px-6 py-10 w-full flex max-md:flex-col justify-center items-center gap-4 md:gap-14'>
                    <div>
                        <img src="{% static 'images/empty-review.png' %}" alt='Empty Review' class='max-w-24 md:max-w-32'>
                    </div>
                    <div>
                        <h1 class='text-center text-xl md:text-2xl font-bold'>Belum ada ulasan untuk restoran ini</h1>
                        <h2 class='text-center max-md:text-sm max-md:mt-2'>Kunjungi restoran ini dan jadilah yang pertama memberikan ulasan</h2>
                    </div>
                </div>
            `
        } else {
            classNameString = 'mt-5 flex flex-col justify-center gap-4'
            reviews.forEach((item) => {
                created_at = new Date(item.created_at)
                if (item.user.username == '{{ user.username }}') {
                    document.querySelector('#editReviewForm textarea').innerHTML = item.deskripsi
                }
                let ratingHtmlString = ''
                for (let i = 0; i < 5; i++) {
                    if (i < item.nilai) {
                        ratingHtmlString += "<i class='fa-solid fa-star'></i>"
                    } else {
                        ratingHtmlString += "<i class='fa-solid fa-star text-neutral-300'></i>"
                    }
                }
                let optionButtonHtml = `
                    <div class='flex flex-wrap gap-2'>
                        <button onclick='showEditModal()' class='max-sm:flex-grow flex justify-center items-center w-fit bg-[#4f9da6] hover:bg-[#3b747a] transition text-white py-2 px-5 rounded-lg text-sm font-semibold'>
                            <i class='fa-regular fa-pen-to-square text-xs mr-2'></i>
                            <span class='text-center'>Ubah ulasan</span>
                        </button>
                        <a href='{% url 'restoran:ulasan:hapus_ulasan' restoran.id %}' class='max-sm:flex-grow flex justify-center items-center w-fit bg-[#eb4b4b] hover:bg-[#c93e3e] transition text-white py-2 px-5 rounded-lg text-sm font-semibold'>
                            <i class='fa-regular fa-trash-can text-xs mr-2'></i>
                            <span class='text-center'>Hapus ulasan</span>
                        </a>
                    </div>
                `
                htmlString += `
                <div class='w-full border border-neutral-100 py-4 px-6 shadow-lg shadow-neutral-100 hover:shadow-neutral-200 rounded-xl transition'>
                    <div class='flex gap-3 items-center'>
                        <a href='/profile/${item.user.username}'>
                            <img src='${item.user.foto}' alt='avatar' class='w-10 h-10 rounded-full'>
                        </a>
                        <div class='flex flex-col'>
                            <a href='/profile/${item.user.username}'>
                                <span class='font-semibold'>${item.user.nama}</span>
                            </a>
                            <span class='text-neutral-500 text-sm flex items-center gap-1'>
                                <i class='fa-solid fa-coins text-neutral-500/70 text-xs'></i>
                                ${item.user.poin} poin
                            </span>
                        </div>
                    </div>
                    <div class='flex gap-2 mt-4'>
                        <div class='text-[#ffba00] flex md:gap-1 items-center'>${ratingHtmlString}</div>
                        <span class='text-neutral-300'>•</span>
                        <h2 class='text-neutral-500'>${created_at.toLocaleDateString()}</h2>
                    </div>
                    <h3 class='mt-3'>
                        ${item.deskripsi}
                    </h3>
                    <div class='mt-4'>
                        ${item.user.username == '{{ user.username }}' ? optionButtonHtml : ''}
                    </div>
                </div>
                `
            })
        }
        document.getElementById('ulasan').className = classNameString
        document.getElementById('ulasan').innerHTML = htmlString
    }
    refreshReviews()

    function hideButton() {
        const button = document.getElementById('reviewButton')

        button.classList.add('hidden')
    }

    function showAddModal() {
        const modal = document.getElementById('addReviewModal')
        const modalContent = document.getElementById('addReviewModalContent')

        modal.classList.remove('hidden')
        setTimeout(() => {
            modalContent.classList.remove('opacity-0', 'scale-95')
            modalContent.classList.add('opacity-100', 'scale-100')
        }, 50)
    }

    function hideAddModal() {
        const modal = document.getElementById('addReviewModal')
        const modalContent = document.getElementById('addReviewModalContent')

        modalContent.classList.remove('opacity-100', 'scale-100')
        modalContent.classList.add('opacity-0', 'scale-95')

        setTimeout(() => {
            modal.classList.add('hidden')
        }, 150)
    }

    function showEditModal() {
        const modal = document.getElementById('editReviewModal')
        const modalContent = document.getElementById('editReviewModalodalContent')

        modal.classList.remove('hidden')
        setTimeout(() => {
            modalContent.classList.remove('opacity-0', 'scale-95')
            modalContent.classList.add('opacity-100', 'scale-100')
        }, 50)
    }

    function hideEditModal() {
        const modal = document.getElementById('editReviewModal')
        const modalContent = document.getElementById('editReviewModalodalContent')

        modalContent.classList.remove('opacity-100', 'scale-100')
        modalContent.classList.add('opacity-0', 'scale-95')

        setTimeout(() => {
            modal.classList.add('hidden')
        }, 150)
    }

    document.getElementById('cancelReviewButton').addEventListener('click', hideAddModal)
    document.getElementById('closeAddReviewModalButton').addEventListener('click', hideAddModal)

    document.getElementById('cancelEditButton').addEventListener('click', hideEditModal)
    document.getElementById('closeEditReviewModalodalButton').addEventListener('click', hideEditModal)

    function addReview() {
        fetch('/restoran/{{ restoran.id }}/ulasan/tambah/', {
            method: 'POST',
            body: new FormData(document.querySelector('#addReviewForm')),
        }).then(response => refreshReviews())

        hideButton()
        hideAddModal()

        return false
    }

    function editReview() {
        fetch('/restoran/{{ restoran.id }}/ulasan/ubah/', {
            method: 'POST',
            body: new FormData(document.querySelector('#editReviewForm')),
        }).then(response => refreshReviews())

        hideEditModal()

        return false
    }

    document.getElementById('submitAddReviewForm').onclick = addReview
    document.getElementById('submitEditReviewForm').onclick = editReview
</script>
{% endblock %}