{% extends 'base.html' %}

{% block title %}
Edit Restoran
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="max-w-2xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-20 transition-all duration-300 transform hover:scale-105">
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-700">Edit Restoran</h1>

    <!-- Form untuk mengedit restoran -->
    <form method="post" class="grid grid-cols-1 gap-6">
        {% csrf_token %}

        <div>
            <label for="nama" class="block text-lg text-gray-600 font-semibold">Nama Restoran</label>
            {{ form.nama|add_class:"w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#4f9da6] focus:border-transparent" }}
        </div>

        <div>
            <label for="alamat" class="block text-lg text-gray-600 font-semibold">Alamat Restoran</label>
            {{ form.alamat|add_class:"w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#4f9da6] focus:border-transparent" }}
        </div>

        <div>
            <label for="jam_operasional" class="block text-lg text-gray-600 font-semibold">Jam Operasional</label>
            {{ form.jam_operasional|add_class:"w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#4f9da6] focus:border-transparent" }}
        </div>

        <div>
            <label for="nomor_telepon" class="block text-lg text-gray-600 font-semibold">Nomor Telepon</label>
            {{ form.nomor_telepon|add_class:"w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#4f9da6] focus:border-transparent" }}
        </div>

        <!-- Tombol Simpan -->
        <button type="submit" class="w-full py-3 bg-[#4f9da6] hover:bg-[#3b747a] text-white font-bold rounded-md transition duration-300 ease-in-out focus:outline-none focus:ring-4 focus:ring-green-300">
            Simpan Perubahan
        </button>
    </form>
</div>
{% endblock %}
