{% extends 'base.html' %}
{% load widget_tweaks %}

{% block meta %}
<title>RasaPalembang | Edit Makanan</title>
{% endblock meta %}

{% block content %}
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto">
    <h2 class="mt-8 text-xl font-semibold">Edit Makanan</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-2 sm:gap-x-4 w-full">
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="nama">Nama Makanan</label>
                {{ form.nama|add_class:"w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]" }}
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="harga">Harga</label>
                {{ form.harga|add_class:"w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]" }}
            </div>
        </div>
        <div class="mt-4">
            <label class="text-sm pl-3" for="deskripsi">Deskripsi</label>
            {{ form.deskripsi|add_class:"w-full resize-none h-36 mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]" }}
        </div>
        <div class="grid grid-cols-2 sm:gap-x-4 w-full">
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="kalori">Kalori</label>
                {{ form.kalori|add_class:"w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]" }}
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="gambar">Gambar</label>
                <div class="mt-2 flex items-center">
                    <label for="id_gambar"
                        class="w-full overflow-hidden relative cursor-pointer bg-gray-100 rounded font-medium text-[#4f9da6] hover:text-[#3b747a] px-4 py-3.5 text-center focus-visible:outline-[#4f9da6]">
                        <span id="gambar-file">Upload gambar</span>
                        {{ form.gambar|add_class:"sr-only" }}
                    </label>
                </div>
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3" for="restoran">Restoran</label>
                {{ form.restoran|add_class:"w-full mt-2 bg-gray-100 rounded px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]" }}
            </div>
            <div class="mt-4 col-span-2 sm:col-span-1">
                <label class="text-sm pl-3">Kategori</label>
                <div class="chips-wrapper mt-2">
                    {% for kategori in form.kategori.field.queryset %}
                    <span class="chip" data-id="{{ kategori.id }}">{{ kategori.nama }}</span>
                    <input type="checkbox" name="kategori" value="{{ kategori.id }}" class="hidden-input">
                    {% endfor %}
                </div>
            </div>
        </div>
        <button
            class="mt-8 shadow hover:shadow-lg bg-[#4f9da6] hover:bg-[#3b747a] transition focus:shadow-outline focus:bg-[#3b747a] focus:outline-none text-white font-semibold py-2 px-4 rounded"
            type="submit">
            Simpan
        </button>
    </form>
</main>
<script>
    var gambarUpload = document.getElementById('id_gambar');
    var gambarFile = document.getElementById('gambar-file');
    gambarUpload.addEventListener('change', function () {
        gambarFile.innerText = gambarUpload.files[0].name;
    });

    // JS untuk handle chips selection
    document.querySelectorAll('.chip').forEach(function (chip) {
        chip.addEventListener('click', function () {
            const input = this.nextElementSibling;  // Menghubungkan dengan input checkbox di sebelahnya
            this.classList.toggle('active');  // Toggle class active (highlight chip)
            input.checked = !input.checked;  // Toggle checkbox state
        });
    });
</script>
{% endblock content %}