{% load static %}
<footer class="mt-5 border-t border-gray-100 bg-[#fafafa] px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto">
    <div class="flex max-sm:flex-col gap-4 justify-center items-center justify-between">
        <a href="">
            <img src="{% static 'images/logo.png' %}" alt="RasaPalembang" class="max-w-56">
        </a>
        <div class="flex gap-5 text-xl">
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-line"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
    <nav
        class="max-sm:mx-auto mt-8 flex flex-wrap items-center justify-center sm:justify-start gap-x-5 gap-y-1 max-w-56 sm:max-w-64 lg:max-w-72 max-md:text-sm">
        <a href="" class="hover:text-neutral-600 transition">
            <span>Makanan</span>
        </a>
        <a href="{% url 'minuman:show_minuman' %}" class="hover:text-neutral-600 transition">
            <span>Minuman</span>
        </a>
        <a href="{% url 'restoran:restoran' %}" class="hover:text-neutral-600 transition">
            <span>Restoran</span>
        </a>
        <a href="{% url 'favorit:show_favorit' %}" class="hover:text-neutral-600 transition">
            <span>Favorit</span>
        </a>
    </nav>
    <div class="w-full border-t mt-8 pt-5 font-semibold flex max-sm:flex-col gap-3 justify-between items-center">
        <span class="font-normal text-sm">© 2024 RasaPalembang. All rights reserved.</span>
    </div>
</footer>