{% extends 'base.html' %}

{% block content %}
<main class="px-5 md:px-10 lg:px-16 xl:px-24 py-5 md:py-10 w-full mx-auto">
    <div class="mt-8 mx-auto grid grid-cols-1 gap-x-8 gap-y-8 lg:grid-cols-2 lg:items-start">
        <div
            class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-[#ff5757]">Makanan</p>
                    <div class="flex mt-2">
                        <h1 class="w-full text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                            {{ makanan.nama }}
                        </h1>
                        <div class="flex-none">
                            <!-- Button Favorite -->
                            <button
                                class="border border-[#4f9da6] text-[#4f9da6] hover:bg-[#4f9da6] hover:text-white py-2 px-[12px] sm:py-3 sm:px-[16px] rounded-full focus:outline-none focus:bg-[#4f9da6] focus:text-white">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        </div>
                    </div>
                    <p class="mt-6 text-xl leading-8 text-gray-700">{{ makanan.deskripsi }}</p>
                </div>
            </div>
        </div>
        <div class="lg:pt-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-full rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10" src="{{ makanan.gambar.url }}"
                alt="{{ makanan.nama }}">
        </div>
        <div
            class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                    <ul role="list" class="space-y-4 text-gray-600">
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-rupiah-sign"></i>
                            </span>
                            <span><strong class="font-semibold text-gray-900">Harga: </strong>{{ makanan.harga }}</span>
                        </li>
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-utensils"></i>
                            </span>
                            <span>
                                <strong class="font-semibold text-gray-900">Kalori: </strong>
                                {{ makanan.kalori }} kkal
                            </span>
                        </li>
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                            <span>
                                <strong class="font-semibold text-gray-900">Kategori: </strong>
                                {{ makanan.kategori.nama }}
                            </span>
                        </li>
                    </ul>
                    <p class="mt-8">Makanan ini tersedia di restoran <a href="{% url 'restoran:detail' restoran.id %}"
                            class="hover:underline">{{ restoran.nama }}</a>.</p>
                    <a href="{% url 'restoran:detail' restoran.id %}">
                        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">{{ restoran.nama }}</h2>
                    </a>
                    <ul role="list" class="mt-6 space-y-4 text-gray-600">
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <span>
                                <strong class="font-semibold text-gray-900">Alamat: </strong>
                                {{ restoran.alamat }}
                            </span>
                        </li>
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>
                                <strong class="font-semibold text-gray-900">Telepon: </strong>
                                {{ restoran.nomor_telepon }}
                            </span>
                        </li>
                        <li class="flex gap-x-3">
                            <span class="h-5 w-5 flex-none text-[#4f9da6]">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                            <span>
                                <strong class="font-semibold text-gray-900">Jam operasional: </strong>
                                {{ restoran.jam_buka|date:"H:i" }} - {{ restoran.jam_tutup|date:"H:i" }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}