{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto py-8" style="width: 80%;">
    <div class="mb-6">
        <h1 class="text-4xl font-bold">{{ makanan.nama }}</h1>
    </div>

    <div class="flex justify-between">
        <div class="bg-white shadow-md rounded-lg p-6 w-1/3">
            <h2 class="text-2xl font-semibold mb-2">Detail Tambahan</h2>
            <ul class="space-y-2 text-gray-600">
                <p>Kalori: {{ makanan.kalori }} kkal</p>
                <p>Harga: Rp {{ makanan.harga }}</p>
                <p>Deskripsi: {{ makanan.deskripsi }}</p>
                <li>Kategori: {{ makanan.kategori.nama }}</li>
                <li>Restoran: {{ makanan.restoran.nama }}</li>
            </ul>
        </div>

        <div class="w-2/3 ml-4">
            {% if makanan.gambar %}
                <img src="{{ makanan.gambar.url }}" alt="{{ makanan.nama }}" class="w-full h-96 object-cover rounded-lg">
            {% else %}
                <img class="w-full h-48 object-cover mb-4 rounded-lg" src="path/to/placeholder-image.jpg" alt="Makanan Default">
            {% endif %}
        </div>
    </div>

    <div class="mt-8 flex justify-between">
        <a href="{% url 'makanan:show_makanan' %}" class="px-6 py-3 bg-[#4f9da6] hover:bg-[#3b747a] text-white font-semibold rounded-lg shadow-md transition duration-300 w-auto">
            Kembali ke Daftar Makanan
        </a>
        {% if request.user == makanan.restoran.user %}
            <div class="flex gap-4">
                <a href="{% url 'makanan:edit_makanan' makanan.id %}" class="px-6 py-3 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md transition duration-300 w-auto text-center">
                    Edit
                </a>
                <form method="POST" action="{% url 'makanan:delete_makanan' makanan.id %}">
                    {% csrf_token %}
                    <button type="submit" class="px-6 py-3 bg-red-500 hover:bg-red-700 text-white font-semibold rounded-lg shadow-md transition duration-300 w-auto text-center">
                        Hapus
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}