{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="w-screen h-[calc(87vh)]">
    <img src="{% static 'images/hero.jpg' %}" alt="Hero"
        class="absolute top-0 left-0 w-screen h-[calc(87vh)] object-cover brightness-50">
    <div
        class="absolute top-0 left-0 w-screen h-[calc(87vh)] flex flex-col gap-5 justify-center px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-12 w-full mx-auto">
        <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-bold max-w-lg md:max-w-3xl">Jelajahi Kuliner Palembang</h1>
        <h2 class="text-white text-sm md:text-base lg:text-xl max-w-lg md:max-w-3xl">Temukan kelezatan autentik Palembang, dari makanan tradisional hingga camilan khas yang menggugah selera.</h2>
        <a href="" class="rounded-full px-6 py-2 bg-[#eb4b4b] hover:bg-[#c93e3e] transition w-fit text-white flex justify-center items-center gap-2">
            <i class="fa-solid fa-angle-right max-md:text-sm"></i>
            <span class="max-md:text-sm font-bold">Jelajahi Sekarang</span>
        </a>
    </div>
</div>
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-10 w-full mx-auto">
    <h1 class="text-justify md:text-2xl xl:text-4xl font-bold text-neutral-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam tenetur fugiat cupiditate nesciunt, ipsa aperiam
        eius voluptatum. Tempora sit deleniti, explicabo culpa assumenda, iusto eius, voluptatem facilis nobis eos quas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem impedit dolorum provident quia
        suscipit maxime beatae corporis voluptatum ea sed corrupti similique nemo, explicabo minus dignissimos animi
        quam! Non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam corporis incidunt
        perferendis dolorum provident quisquam molestiae quos reprehenderit nam nobis qui, quo obcaecati magnam eveniet.
        Qui quam et quos! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus quaerat possimus iste totam
        nisi sed eum iure, voluptatibus nemo animi, sapiente itaque ex accusamus blanditiis debitis odit, suscipit
        explicabo ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, blanditiis ipsa ab
        numquam quis in ex odit nihil repellat aliquam magnam error officiis incidunt aut at inventore similique
        deserunt iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. At deserunt repellat modi placeat fugiat
        exercitationem illo alias non et obcaecati. Animi, illum quae. Assumenda similique non consequatur porro, dicta
        fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia inventore in soluta nesciunt quaerat, vel
        laboriosam odio magnam ea accusamus tempore animi optio cumque delectus assumenda eveniet molestiae ab
        excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sequi soluta molestiae, quasi at
        eaque delectus iure maiores. Optio ipsam similique illo sed quis tempora minima illum repellendus omnis
        molestiae.
    </h1>
</main>
{% endblock %}