{% extends 'base.html' %}
{% load static %}

{% block content %} 
<main class="px-5 md:px-10 lg:px-16 xl:px-24 py-5 md:py-10 w-full mx-auto">
    {% if forum %}
    <div class="mt-8 block bg-white ring-1 ring-gray-100 shadow-lg rounded-lg p-6 flex">
        <div class="w-full">
            <h2 class="text-3xl font-bold text-[#ff5757]">{{ forum.topik }}</h2>
            <div class="mt-4 text-sm leading-6">
                <p class="font-semibold text-gray-900">
                  <a href="{% url 'detail_profile' request.user.username %}">
                    {{ forum.user.nama }}
                  </a>
                  <a href="" class="ml-1 relative z-10 rounded-full bg-gray-50 px-2 py-0.5 font-medium text-gray-600 hover:bg-gray-100">{{ forum.user.poin }} poin</a>
                </p>
                <time datetime="{{ forum.tanggal_posting|date:'Y-m-d' }}" class="text-gray-500">
                    pada {{ forum.tanggal_posting|date:"d F Y" }}
                </time>
            </div>
            <p class="mt-4 text-gray-500 mt-1">
                {{ forum.pesan }}
            </p>
            {% if request.user != forum.user and request.user.peran == 'pengulas' %}
            <a href="{% url 'forum:balas' forum.restoran.id forum.id %}" class="inline-flex items-center border border-[#4f9da6] text-[#4f9da6] hover:bg-[#4f9da6] hover:text-white py-1 px-4 mt-6 rounded-xl focus:outline-none focus:bg-[#4f9da6] focus:text-white">
                Balas Forum
            </a>
            {% endif %}
            {% if balasan %}
            <p class="mt-4 ml-12 font-semibold text-[#4f9da6]">Balasan</p>
            <div class="ml-12 flex flex-col space-y-4">
                {% for item in balasan %}
                <div class="mt-2 flex items-start bg-gray-100 rounded-lg p-4 border-l-4 border-gray-300"> <!-- Garis vertikal di kiri -->
                    <div class="mr-4">
                        <i class="fa-regular fa-comments fa-lg text-gray-500"></i>
                    </div>
                    <div class="flex-1">
                        <div class="flex items-center gap-x-4 w-full">
                            <p class="font-semibold text-gray-900">
                                <a href="{% url 'detail_profile' item.user.username %}" class="text-s">{{ item.user.nama }}</a>
                                <a class="ml-1 relative z-10 rounded-full bg-gray-50 px-2 py-0.5 text-xs font-medium text-gray-600 hover:bg-gray-100">{{ item.user.poin }} poin</a>
                            </p>
                            <div class="ml-auto">
                                {% if request.user.id == item.user.id %}
                                <a href="{% url 'forum:edit_balasan' forum.restoran.id forum.id item.id %}">
                                    <i class="fa-solid fa-pen ml-2"></i>
                                </a>
                                <a href="{% url 'forum:delete_balasan' forum.restoran.id forum.id item.id %}">
                                    <i class="fa-regular fa-trash-can ml-2"></i>
                                </a>
                                {% else %}
                                    {% if request.user.peran == 'pengulas' %}
                                        <div class="grid grid-cols-2 sm:gap-x-4 w-full">
                                            <div class="flex mt-4 col-span-2 sm:col-span-2">
                                                <button id="vote" data-balasan-id="{{ item.id }}">
                                                    <i class="fa-regular fa-thumbs-up self-center"></i>
                                                </button>
                                                <p id="voteValue" class="ml-2 font-semibold text-gray-900">{{ item.nilai }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <time datetime="{{ item.tanggal_posting|date:'Y-m-d' }}" class="text-xs text-gray-500">
                            pada {{ item.tanggal_posting|date:"d F Y" }}
                        </time>
                        <p class="mt-2 text-gray-700">{{ item.pesan }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="px-3 sm:px-6 py-16 w-full flex max-md:flex-col justify-center items-center gap-4 md:gap-14">
                <div>
                    <img src="{% static 'images/empty-forum.png' %}" class="max-w-24 md:max-w-32">
                </div>
                <div>
                    <h1 class="text-center text-xl md:text-2xl font-bold">Belum ada balasan untuk forum ini</h1>
                    <p class="text-center text-gray-900 max-md:text-sm max-md:mt-2">Mari berbagi pendapatmu tentang forum ini dengan menulis balasan!</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</main>

<script>
    var voteButton = document.getElementById('vote')
    voteButton.addEventListener('click', function() {
        fetch('restoran/{{ forum.restoran.id }}/forum/{{ forum.id }}/vote-balasan/{{ balasan.id }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        }).then(response => response.json())
        // console.log(`${window.location.pathname}vote-balasan/{{ forum.id }}`)
    })

    // var voteValue = document.getElementById('voteValue')
    // function refreshVote() {
        
    // }
</script>

{% endblock content %} 