{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ forum.topik }} | RasaPalembang</title>
{% endblock meta %}

{% block content %}
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto">
    {% if forum %}
    <div class="block bg-white ring-1 ring-gray-100 shadow-lg rounded-lg p-6 flex">
        <div class="w-full">
            <h2 class="text-3xl font-bold text-[#ff5757]">{{ forum.topik }}</h2>
            <div class="mt-4 flex gap-x-4 items-center">
                {% if forum.user.foto %}
                <a href="{% url 'detail_profile' forum.user.username %}" class="font-semibold text-gray-900 text-s">
                    <img src="/media/{{ forum.user.foto }}" alt="{{ forum.user.nama }}" class="h-10 w-10 rounded-full">
                </a>
                {% else %}
                <a href="{% url 'detail_profile' forum.user.username %}" class="font-semibold text-gray-900">
                    <img alt="{{ forum.user.nama }}" src="{% static 'images/avatar.png' %}"
                        class="w-10 h-10 rounded-full">
                </a>
                {% endif %}
                <div class="leading-6">
                    <p class="flex flex-wrap font-semibold text-gray-900">
                        <a href="{% url 'detail_profile' forum.user.username %}" class="mr-1">
                            {{ forum.user.nama }}
                        </a>
                        <label class="text-sm relative z-10 rounded-full bg-gray-50 px-2 py-0.5 font-medium text-gray-600">
                            {{ forum.user.poin }} poin
                        </label>
                    </p>
                    <time datetime="{{ forum.tanggal_posting|date:'Y-m-d' }}" class="text-sm text-gray-500">
                        pada {{ forum.tanggal_posting|date:"d F Y" }}
                    </time>
                </div>
            </div>
            <p class="mt-4 text-gray-500 mt-1">
                {{ forum.pesan }}
            </p>
            <div class="border-t border-gray-200 mt-4"></div>

            <div id="balasan"></div>
            {% if request.user.is_authenticated %}
            <div class="flex justify-end mt-4">
                <button id="balas" class="font-medium text-[#4f9da6] hover:underline px-2">
                    Balas
                </button>
            </div>
            <div class="hidden mt-2" id="formGroup">
                <form method="POST" class="flex rounded-lg" id="formBalas">
                    {% csrf_token %}
                    <div class="w-full sm:ml-12">
                        <label class="pl-1 font-semibold hidden" for="pesan">Pesan Balasan</label>
                        <textarea name="pesan" required="" id="pesan" placeholder="Masukkan balasan untuk forum ini" class="mt-2 pb-14 min-h-36 w-full resize-none rounded bg-gray-100 px-4 py-3.5 placeholder:text-[#808080] focus-visible:outline-[#4f9da6]"></textarea>
                    </div>
                </form>
                <div class="flex justify-end -mt-14 mr-2.5">
                    <button id="submitBalasan" class="focus:shadow-outline rounded bg-[#4f9da6] px-4 py-2 font-semibold text-white shadow transition hover:bg-[#3b747a] hover:shadow-lg focus:bg-[#3b747a] focus:outline-none">
                        Kirim
                    </button>
                </div>
            </div>
            {% endif %}
            <div id="empty"></div>
        </div>
    </div>
    {% endif %}
</main>
<script>
    {% if request.user.is_authenticated %}
    var balasButton = document.getElementById('balas')
    var formGroup = document.getElementById('formGroup')
    var submitButton = document.getElementById('submitBalasan')
    var textArea = document.getElementById('pesan')

    balasButton.addEventListener('click', function() {
        formGroup.classList.toggle('hidden')
        textArea.focus()
    })

    textArea.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px'
    })

    submitButton.addEventListener('click', function(event) {
        event.preventDefault()
        addBalasan()
        formGroup.classList.add('hidden')
    })

    function addBalasan() {
        fetch("{% url 'forum:balas' forum.restoran.id forum.id %}", {
            method: 'POST',
            body: new FormData(document.getElementById('formBalas')),
        }).then(response => refreshBalasan())

        document.getElementById('formBalas').reset()
    }

    window.addEventListener('keydown', function (event) {
        if (event.key === 'Escape' && !formGroup.classList.contains('hidden')) {
            formGroup.classList.add('hidden')
        }
    })
    {% endif %}

    var balasanList = document.getElementById('balasan')
    var empty = document.getElementById('empty')

    function refreshBalasan() {
        fetch("{% url 'forum:show_balasan' forum.restoran.id forum.id %}")
            .then(response => response.json())
            .then(data => {
                balasanList.innerHTML = ''
                empty.innerHTML = ''
                if (data.balasan.length === 0) {
                    empty.className = 'px-3 sm:px-6 py-16 w-full flex max-md:flex-col justify-center items-center gap-4 md:gap-14'
                    empty.innerHTML = `
                        <div class="px-3 sm:px-6 py-16 w-full flex max-md:flex-col justify-center items-center gap-4 md:gap-14">
                            <div>
                                <img src="/static/images/empty-forum.png" class="max-w-24 md:max-w-32">
                            </div>
                            <div>
                                <h1 class="text-center text-xl md:text-2xl font-bold">Belum ada balasan untuk forum ini</h1>
                                <p class="text-center text-gray-900 max-md:text-sm max-md:mt-2">
                                    Mari berbagi pendapatmu tentang forum ini dengan menulis balasan!
                                </p>
                            </div>
                        </div>
                    `
                }
                else {
                    balasanList.className = 'sm:ml-12 flex flex-col space-y-4 mt-4'
                    data.balasan.forEach(item => {
                        balasanList.innerHTML += `
                        <div class="grid gap-x-4 items-start bg-gray-100 rounded-lg p-4 border-l-4 border-gray-300">
                            <!-- Garis vertikal di kiri -->
                            <div class="flex w-full items-center">
                                ${item.foto !== '' ? `
                                <a href="/profile/${item.username}" class="items-center font-semibold text-gray-900">
                                    <img src="${item.foto}" alt="${item.nama}"
                                    class="h-10 w-10 rounded-full">
                                </a>` : `
                                <a href="/profile/${item.username}" class="items-center font-semibold text-gray-900">
                                    <img alt="${item.nama}" src="/static/images/avatar.png"
                                        class="w-10 h-10 rounded-full">
                                </a>`}
                                <div class="ml-4 flex-1">
                                    <div class="flex items-center">
                                        <p class="flex flex-wrap font-semibold text-sm text-gray-900">
                                            <a href="/profile/${item.username}" class="text-s mr-2">
                                                ${item.nama}
                                            </a>
                                            <label
                                                class="relative z-10 rounded-full bg-gray-50 px-2 py-0.5 text-xs font-medium text-gray-600">
                                                ${item.poin} poin
                                            </label>
                                        </p>
                                        <div class="ml-auto">
                                            ${'{{ request.user.id }}' === item.userId ? `
                                            <a href="edit_balasan/${ item.id }">
                                                <i class="fa-solid fa-pen ml-2"></i>
                                            </a>
                                            <a href="delete_balasan/${ item.id }">
                                                <i class="fa-regular fa-trash-can ml-2"></i>
                                            </a>
                                            ` : ''}
                                        </div>
                                    </div>
                                    <p class="text-xs text-gray-500 leading-normal">
                                        pada ${new Date(item.tanggal).toLocaleString('id-ID', {year: 'numeric', month: 'long', day: 'numeric'})}
                                    </p>
                                </div>
                                </div>
                                <p class="mt-2 text-gray-700">${item.pesan}</p>
                        </div>
                        `
                    })
                }
            })
    }
    refreshBalasan()
</script>
{% endblock content %}