{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ profile.username }} | RasaPalembang</title>
{% endblock meta %}

{% block content %}
<main class="px-4 md:px-14 lg:px-24 xl:px-36 py-5 md:py-8 w-full mx-auto min-h-[720px]">
    <div class="rounded-2xl border mx-auto">
        <img src="{% static 'images/banner.png' %}" alt="{{ profile.username }}"
            class="w-full h-32 md:h-64 brightness-75 object-cover rounded-t-2xl">
        <div class="flex justify-between w-full gap-6 px-3 sm:px-6 lg:px-10 pb-5">
            <div class="flex items-center -mt-20 md:-mt-24 z-10">
                {% if profile.foto %}
                <img id="avatar" src="{{ profile.foto.url }}" alt="{{ profile.username }}"
                    class="w-24 sm:w-32 lg:w-48 h-24 sm:h-32 lg:h-48 rounded-full object-cover">
                {% else %}
                <img id="avatar" src="{% static 'images/avatar.png' %}" alt="{{ profile.username }}"
                    class="w-24 sm:w-32 lg:w-48 h-24 sm:h-32 lg:h-48 rounded-full object-cover">
                {% endif %}
            </div>
            {% if profile.username == request.user.username %}
            <div class="mt-4 flex max-sm:flex-col max-sm:items-center h-min gap-1 sm:gap-2">
                <a href="{% url 'logout' %}"
                    class="flex justify-center items-center gap-2 w-full sm:w-max px-4 sm:px-8 py-1.5 sm:py-2 bg-[#eb4b4b] hover:bg-[#c93e3e] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition focus-visible:outline-none focus-visible:bg-[#d04848]">
                    <i class="fa-solid fa-arrow-right-from-bracket max-sm:scale-90"></i>
                    Keluar
                </a>
                <button data-modal-target="modal" data-modal-toggle="modal" onclick="showModal();"
                    class="flex justify-center items-center gap-2 w-full sm:w-max px-4 sm:px-8 py-1.5 sm:py-2 bg-[#4f9da6] hover:bg-[#3b747a] hover:shadow rounded-lg font-semibold text-white text-center max-sm:text-sm transition focus-visible:outline-none focus-visible:bg-[#3b747a]">
                    <i class="fa-regular fa-pen-to-square max-sm:scale-90"></i>
                    Ubah Profil
                </button>
            </div>
            {% endif %}
        </div>
        <div class="px-3 sm:px-6 lg:px-10 pb-5">
            <h1 id="nama" class="text-2xl font-semibold">{{ profile.nama }}</h1>
            <h1 id="username" class="text-neutral-500">@{{ profile.username }}</h1>
            <h1 id="deskripsi" class="mt-2.5">
                {% if profile.deskripsi %} {{ profile.deskripsi }} {% else %} Belum ada bio. {% endif %}
            </h1>
            <div class="flex flex-wrap gap-2.5 md:gap-6 mt-3 max-sm:text-sm">
                <h1 class="text-neutral-500 flex items-center gap-2">
                    <i class="fa-solid fa-user-tag text-neutral-500/70 max-sm:scale-90"></i>
                    {% if profile.peran == 'pengulas' %}
                    Pengulas
                    {% endif %}
                    {% if profile.peran == 'pemilik_restoran' %}
                    Pemilik Restoran
                    {% endif %}
                </h1>
                <h1 class="text-neutral-500 flex items-center gap-1.5 sm:gap-2 max-sm:hidden">
                    <i class="fa-solid fa-calendar-days text-neutral-500/70 max-sm:scale-90"></i>
                    Bergabung {{ profile.date_joined | date:"d M, Y" }}
                </h1>
                <h1 class="text-neutral-500 flex items-center gap-1.5 sm:gap-2">
                    <i class="fa-solid fa-coins text-neutral-500/70 max-sm:scale-90"></i>
                    {{ profile.poin }} Poin
                </h1>
            </div>
        </div>
    </div>
    {% if profile.peran == "pengulas" and ulasan %}
    <div class="mt-8">
        <h1 class="font-bold text-2xl">Ulasan</h1>
        <div class="flex flex-col gap-5 mt-4">
            {% for item in ulasan %}
            <div
                class='w-full border border-neutral-100 py-4 px-6 shadow-lg shadow-neutral-100 hover:shadow-neutral-200 rounded-xl transition'>
                <div class='flex gap-3 items-center'>
                    <a href='/profile/{{ profile.username }}'>
                        <img src='{{ profile.foto.url }}' alt='avatar' class='w-10 h-10 rounded-full'>
                    </a>
                    <div class='flex flex-col'>
                        <a href='/profile/{{ profile.username }}'>
                            <span class='font-semibold'>{{ profile.nama }}</span>
                        </a>
                        <a href="{% url 'restoran:detail_restoran' item.restoran.id %}">
                            <span class='text-neutral-500 flex items-center gap-2'>
                                <i class='fa-solid fa-utensils text-neutral-500/70 text-xs'></i>
                                {{ item.restoran }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class='flex max-sm:flex-col gap-2 mt-2 md:mt-4'>
                    <div class='text-[#ffba00] flex gap-0.5 md:gap-1 items-center'>
                        {% if item.nilai == 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        {% if item.nilai >= 1 %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                        {% if item.nilai >= 2 %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                        {% if item.nilai >= 3 %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                        {% if item.nilai >= 4 %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                        {% if item.nilai >= 5 %}
                        <i class="fas fa-star"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                        {% endif %}
                        <span class="ml-2 text-gray-500">({{ item.nilai|floatformat:1 }}/5.0)</span>
                    </div>
                    <span class='max-sm:hidden text-neutral-300'>•</span>
                    <h2 class='text-neutral-500 max-sm:text-sm'>{{ item.created_at }}</h2>
                </div>
                <h3 class='mt-3 max-md:text-sm text-justify'>
                    {{ item.deskripsi }}
                </h3>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% include 'authentication/detail_profile/modal.html' %}
    {% if profile.peran == "pemilik_restoran" and restoran %}
        <h1 class="mt-8 font-bold text-2xl">Restoran</h1>
        <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for item in restoran %}
            <div>
                <a href="{% url 'restoran:detail_restoran' item.id %}" class="block bg-white border rounded-lg overflow-hidden transition hover:shadow-lg focus-visible:outline-[#4f9da6]">
                    <div class="w-full h-48 overflow-hidden">
                        {% if item.gambar %}
                        <img src="{{ item.gambar }}" alt="{{ item.nama }}"
                            class="w-full h-full object-cover">
                        {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" alt="No image" class="w-full h-full object-cover">
                        {% endif %}
                    </div>

                    <div class="p-4">
                        <h2 class="text-lg font-semibold text-gray-700">{{ item.nama }}
                            <span class="text-gray-500 mt-1">
                                <span class="text-lg font-semibold">{{ item.harga_range }}</span>
                            </span>
                        </h2>

                        <div class="flex items-center text-yellow-500">
                            {% if item.rata_bintang == 0 %}
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 1 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 0.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endif %}

                            {% if item.rata_bintang >= 2 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 1.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endif %}

                            {% if item.rata_bintang >= 3 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 2.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endif %}

                            {% if item.rata_bintang >= 4 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 3.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endif %}

                            {% if item.rata_bintang >= 5 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            {% if item.rata_bintang >= 4.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            <span class="ml-2 text-gray-500">({{ item.rata_bintang|floatformat:1 }}/5.0)</span>
                        </div>

                        <p class="text-gray-500 mt-1">
                            <i class="fas fa-clock mr-2"></i>
                            {{ item.jam_buka|date:"H:i" }} - {{ item.jam_tutup|date:"H:i" }}
                            <span class="{% if item.status == 'Buka' %}text-green-500{% else %}text-red-500{% endif %}">
                                {{ item.status }}
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</main>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'authentication/profile/script.js' %}"></script>
{% endblock script %}